<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for stuff in receipts_list.all %}
            <tr>
                <td>{{ stuff.vendor }}</td>
                <td>{{ stuff.total }}</td>
                <td>{{ stuff.tax }}</td>
                <td>{{ stuff.date | date:"m/d/y" }}</td>
                <td>{{ stuff.category }}</td>
                <td>{{ stuff.account }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

</body>
</html>
